# Node.js
node_modules/
npm-debug.log
yarn-error.log
*.pnp.js

# TypeScript
*.tsbuildinfo
*.js
*.js.map
*.d.ts

# IDE and Editor files
.vscode/
.idea/

# Test coverage
coverage/

# Dependency directories
/dist/
/out/

# Environment variables file
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
